extend layout

block main
  section#todos
    header
      h2 Editing '#{workoutList.title}'
      ul
        li
          form.delete(action=`/lists/${workoutList.id}/destroy` method="post")
            button.delete(type="submit") Delete List

  form(action=`/lists/${workoutList.id}/edit` method="post")
    dl
      dt
        label(for="workoutListTitle") Enter the new title for the list:
      dd
        input(type="text"
              name="workoutListTitle"
              placeholder="List Title"
              value=workoutListTitle || workoutList.title)
    fieldset.actions
      input(type="submit" value="Save")
      a(href=`/lists/${workoutList.id}`) Cancel
